<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>The Game</title>
  <meta name="description" content="TheGame is a demonstrative web site on some web technologies like AngularJS, HTML5, CSS3, but also Java, JavaEE and Python as languages, but also SparkJava, Flask and so on...">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="webappGruntApp">
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container-fluid {{application.profile.mode}}" ng-controller="MainCtrl">

          <div class="header">

            <div id="userprofile" class="dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" title="{{user.firstname}} {{user.lastname}}">
                <img src="{{user.avatar}}" class="avatar"/>&nbsp; {{user.username}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li ng-if="user.profile=='admin'" role="presentation" class="dropdown-header">Administration</li>
                  <li ng-if="user.profile=='admin'" role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/games">Games</a></li>
                  <li ng-if="user.profile=='admin'" role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/platforms">Platforms</a></li>
                  <li ng-if="user.profile=='admin'" role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/users">Users</a></li>
                  <li ng-if="user.profile=='admin'" role="presentation" class="divider"></li>
                  <li role="presentation" class="dropdown-header">User</li>
                  <li ng-if="user != 'undefined'" role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/profile">Profile</a></li>
                  <li ng-if="user != 'undefined'" role="presentation" class="divider"></li>
                  <li ng-if="user != 'undefined'" role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout();">Logout</a></li>
                </ul>
              </button>
            </div>
            <h3 class="text-muted"><img class="logo" src="images/the_game_logo_2.png">The Game</h3>
            <ul class="categories">
              <li id="home"><a ng-href="#/">Home</a></li>
              <li id="news"><a ng-href="#/news" accesskey="N">News</a></li>
              <li id="news"><a ng-href="#/tests" accesskey="T">Tests</a></li>
              <li id="news"><a ng-href="#/stories" accesskey="S">Stories</a></li>
            </ul>
            <ul class="platforms"><li ng-repeat="platform in platforms"><a href="#/platform/{{platform.code}}" title="{{platform.manufacturer}} / {{platform.name}}">{{platform.shortname}}</a></li>
            </ul>
          </div>

          <div ng-view=""></div>

          <div class="footer" ng-controller="FooterCtrl">
            <p>&copy; 2015 - <a href="http://web-context.com">Web-Context</a> - <a href="mailto:contact@web-context.com?subject=feedback">@McGivrer</a></p>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div ng-repeat="platform in gamesByPlatforms" class="platform">
                  <h2>{{platform.title}}</h2>
                  <ul ng-repeat="game in platform.games">
                    <li class="game"><a href="#/games/{{game.id}}">{{game.title}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
       </script>

       <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/games.js"></script>
    <script src="scripts/controllers/platforms.js"></script>
    <script src="scripts/controllers/tests.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/gameDetails.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/controllers/admin/games.js"></script>
    <script src="scripts/controllers/admin/platforms.js"></script>
    <script src="scripts/controllers/admin/users.js"></script>
    <script src="scripts/services/gameService.js"></script>
    <script src="scripts/services/platformService.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/menuservice.js"></script>
    <!-- endbuild -->
  </body>
  </html>
