<h2>Administration / Users</h2>
<div class="form-group">
  <label for="Search" class="col-sm-2 control-label">Search</label>
  <div class="col-sm-10">
    <input type="search" class="form-control" ng-model="search.$" placeholder="search">
  </div>
</div>
<table class="table admin-users">
	<thead>
		<th>#</th>
		<th>active</th>
		<th>avatar</th>
		<th>Username</th>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
		<th>action</th>
	</thead>
	<tbody>
		<tr ng-repeat="user in users | filter:search">
			<td>{{user.id}}</td>
			<td><input type="checkbox" value="{{user.active}}"></td>
			<td><img src="{{user.avatar}}" class="avatar"></td>
			<td>{{user.username}}</td>
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.email}}</td>
			<td>
				<a class="button" href="#/admin/user/edit">edit</a>
				<a class="button" href="#/admin/user/delete">delete</a>
			</td>
		</tr>
	</tbody>
</table>

<ul class="btn-toolbar" role="toolbar">
  <li class="previous" role=""><a href="#/admin/user/{{user.pager.previous}}">Previous</a></li>
  <li class="next"><a href="#/admin/user/{{user.pager.next}}">Next</a></li>
</ul>