/**
* games.css
* A sample css piece of code to design a simple "Game Test Sheet.
* @author Frédéric Delorme <frederic.delorme@gmail.com>
*/
/* latin-ext */
@font-face {
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	src: local('Righteous'), local('Righteous-Regular'),
	url(https://fonts.gstatic.com/s/righteous/v5/eJYqrhUff1n1Ge9A-rSw_BJtnKITppOI_IvcXXDNrsc.woff2)
	format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
	U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	src: local('Righteous'), local('Righteous-Regular'),
	url(https://fonts.gstatic.com/s/righteous/v5/w5P-SI7QJQSDqB3GziL8XRJtnKITppOI_IvcXXDNrsc.woff2)
	format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
	U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html>* {
	font-family: 'Righteous'
}
.page-content .page-header{
	background-color:#000;
	color:#fff;
	padding:1em;
	background-image:url("../images/webcontext_logo.png");
	background-position:0px 0px;
	background-repeat:no-repeat;
	padding-left:10em;
}
.page-content .page-header h1 {
	font-size: 3em;
}
.page-content .page-header nav.menu {
	
}
.page-content .page-header nav.menu ul {
	list-style: none;
	padding: 0em;
	margin: 0em;
}

.page-content .page-header nav.menu ul li {
	display: inline-block;
	padding: 0em;
	margin: 0.2em 1em;
}

.page-content .page-footer {
	position:absolute;
	bottom:0px;
	text-align:center;
	background-color:#000;
	color:#fff;
	display:block;
	width:100%;
	margin:0px;
	padding:10px 0px;
}

/*----- Games list for platform -----*/
section.games {
	padding: 10px;
	margin: 0px 10px;
}

section.games h2 {
	margin-left: 40px;
	padding-left: 0px;
}

section.games img.icon-platform {
	float: left;
	width: 32px;
	max-height: 32px;
	margin: 10px;
	margin-right: 40px;
	box-shadow: 2px 2px 4px #000;
}

section.games article.game {
	padding: 0px;
}

section.games article.game img.cover {
	width: 80px;
	height: 120px;
}

section.games article.game h1 {
	font-size: 14pt;
}

section.games article.game div.header {
	background-color: transparent;
	border: none;
	min-height: none;
	margin: 0px;
}

section.games article.game div.header>* {
	margin-left: 100px;
}

section.games article.game div.note {
	float: right;
	font-size: 21pt;
	margin: 40px 10px;
	background-color: #000;
	color: #fff;
	padding: 4px 12px;
}

section.games article.game div.header ul.platforms {
	list-style: none;
	text-align: right;
	font-size: 8pt;
	border-top: 1px dotted #666;
	font-family: courier;
	padding: 0px;
	margin: 0px;
}

section.games article.game div.header ul.platforms li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

section.games article.game div.header ul.platforms li:before {
	content: ".";
}

/*-------- Game File ------*/
article.game {
	font-family: Arial;
	padding: 2% 4%;
	width: 90%;
}
article.game img.cover {
	float: left;
	border: 4px solid #ddd;
	margin: 0px;
	padding: 0px;
	width: 160px;
	height: 240px;
}
article.game div.header {
	background-color: #ddd;
	padding: 10px 20px;
	border: 1px solid #aaa;
	min-height: 80px;
}
article.game div.header p {
	font-style: italic;
}
article.game h1, 
article.game h2, 
article.game div.note {
	font-family: Righteous;
	font-variant: normal;
}
article.game h1:before, 
article.game h2:before, 
section.games h1:before,
section.games h2:before {
	padding: 0px;
	margin: 0px;
	content: "";
}
article.game h1 {
	font-size: 24pt;
	padding: 0px;
	margin: 0px;
}
article.game h2 {
	font-size: 18pt;
}

article.game div.header>* {
	margin-left: 20%;
}

article.game div.header ul.tags {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

article.game ul.tags li {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

article.game ul.tags li a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #666;
	padding: 2px 4px;
	border-left: 1px dotted #666;
}

article.game ul.tags li:first-child a {
	border-left: none;
}

article.game div.header img.cover {
	margin-left: 0px;
}

article.game div, 
article.game p {
	text-align: justify;
}

article.game .header ul.rates {
	list-style: none;
	display: block;
	font-family: monospace;
	font-size: 10pt;
	padding: 10px 0px;
	margin: 10px 0px 10px 180px;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
	text-align: justify;
	font-style: normal;
}

article.game .header ul.rates li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

article.game .header .rates code {
	background-color: transparent;
	border: 0px;
}

article.game div.header p.platforms {
	text-align: left;
	font-size: 10pt;
	border-top: 1px dotted #666;
	font-family: courier;
	padding-top: 4px;
	margin: 0px;
	margin-left: 20%;
}

article.game div.header p.author {
	text-align: right;
	font-size: 10pt;
	padding-top: 4px;
	margin: 0px;
	margin-left: 20%;
}

article.game div.body {
	padding: 10px 0px;
}
article.game div.note {
	float: right;
	text-align: center;
	vertical-align: middle;
	font-size: 24pt;
	background-color: #000;
	color: #fff;
	padding: 0px;
	width: 1.5em;
	height: 1.5em;
	margin-top: 10px;
	margin-right: 0px;
}
article.game div.swing {
	padding: 10px 20px;
	margin: 0px;
	padding: 0px;
}
article.game div.swing div.pad {
	width: 42%;
	padding: 20px;
	margin-bottom: 2%;
	min-height: 8em;
	margin: 0px;
	margin-left: 20px;
	margin-top: 20px;
}

article.game div.swing div.pad ul {
	list-style: circle;
	margin: 0px;
	margin-left: 20px;
	padding: 0px;
}

article.game div.swing div.pad h2 {
	margin: -20px -10px -20px -30px;
	padding: 0px;
	text-align: center;
	font-size: 24pt;
}

article.game div.swing div.pad h2:before {
	content: "";
}

article.game div.swing div.plus {
	float: left;
	color: green;
	background-color: lightgreen;
}

article.game div.swing div h2 {
	position: relative;
	top: -16px;
	left: -16px;
	width: 1.5em;
	clear: right;
}

article.game div.swing div.plus h2 {
	background-color: green;
	color: lightgreen;
	border-color: green;
}

article.game div.swing div.minus {
	float: right;
	color: red;
	background-color: #faa;
	border-color: green;
}

article.game div.swing div.minus h2 {
	background-color: red;
	color: #faa;
	border-color: red;
}