<article class="game">
	<div class="header">
		<div class="note">{{game.rate}}</div>
		<img class="cover" src="{{game.cover}}" title="{{game.platform}}/{{game.title}}"/>
		<h1 class="title"> ({{game.platform}}) {{game.title}}</h1>
		<ul class="rates">
			<li><em>rated</em><code>{{game.rated}}</code></li>
			<li><em>gfx</em><code>[{{game.rates['gfx']}}]</code></li>
			<li><em>sound</em><code>[{{game.rates['sound']}}]</code></li>
			<li><em>music</em><code>[{{game.rates['music']}}]</code></li>
			<li><em>feeling</em><code>[{{game.rates['feeling']}}]</code></li>
		</ul>
		<div class="txt-header">{{game.header}}</div>
		<p class="platforms">
			<a ng-repeat="platform in game.platforms" href="#/platform/{{platform}}" title="view all games for platform {{platform}}">{{platform}}</a>
		</p>
		<p class="author"> <strong>#{{game.id}}</strong>:{{game.createdAt}}:{{game.createdBy}}</p>
	</div>
	<div class="body">
		{{game.content}}
	</div>
	<hr />
	<div class="swing">
		<div class="pad plus">
			<h2>+</h2>
			<ul>
				<li ng-repeat="item in plus">{{item}}</li>
			</ul>
		</div>
		<div class="pad minus">
			<h2>-</h2>
			<ul>
				<li ng-repeat="item in minus">{{item}}</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</article>	
