<h2>Last Games</h2>
<section class="games" >
	<article class="game" ng-repeat="game in games | orderBy:'game.title'">
		<div class="header">
			<div class="note">{{game.rate}}</div>
			<img class="cover" src="{{game.cover}}"
				title="{{game.platform}}/{{game.title}}" />
			<h1 class="title">
				<a href="#/game/view/{{game.id.}}">{{game.title}}</a>
			</h1>
			<div class="header">{{game.header}}</div>
			<ul class="platforms">
				<li ng-repeat="platform in game.platforms"><a href="#/platform/{{platform}}" title="view all games for platform {{platform}}">{{platform}}</a></li>
			</ul>
		</div>
	</article>
	<div class="clear"></div>
</section>

